int toprak=A0;  
int yled=7;
int pompa=8;
int deger;
void setup() {
pinMode(yled,OUTPUT);
pinMode(pompa,OUTPUT);
Serial.begin(9600);
}
void loop() {
deger=analogRead(toprak);
Serial.println(deger);
delay(100);
if  (deger>1000)
{

digitalWrite(yled,LOW);
digitalWrite(pompa,HIGH);
Serial.println(deger);
Serial.println("cok kuru");
 }
else if (deger>800)
{

digitalWrite(yled,LOW);
digitalWrite(pompa,HIGH);
Serial.println(deger);
Serial.println("hafif kuru");
 }
 else if (deger>400)
{

digitalWrite(yled,LOW);
digitalWrite(pompa,LOW);
Serial.println(deger);
Serial.println("hafif nemli");
 }
 else
 {

digitalWrite(yled,1);
digitalWrite(pompa,LOW);
Serial.println(deger);
Serial.println("cok ıslak");
  }
}
